/* Custom fonts */
@font-face {
  font-family: MiddleEarth;
  src: url(../assets/fonts/MiddleEarth.ttf);
}

@font-face {
  font-family: SeratUltra;
  src: url(../assets/fonts/SeratUltra.ttf);
}

:root {
  --primary-color: rgb(197, 168, 0);
  --secondary-color: rgb(241, 207, 14);
  --third-color: rgb(255, 230, 86);
  --background-color: #fafbfc;
  --linear-color: linear-gradient(135deg, var(--primary-color), var(--secondary-color), var(--third-color));
}