/* ===========================General================================= */
/* Custom fonts */
@font-face {
  font-family: MiddleEarth;
  src: url(../assets/fonts/MiddleEarth.ttf);
}

@font-face {
  font-family: SeratUltra;
  src: url(../assets/fonts/SeratUltra.ttf);
}

/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

a:link {
  color: unset;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.visually-hidden {
  display: none;
}

/* ===========================Header================================== */
/* Logo */
.logo__title {
  font-family: MiddleEarth;
  font-size: 2rem;
}

/* Navigation */

/* ===========================Article=================================== */
.character__title {
  font-family: SeratUltra;
  font-size: 2rem;
}

/* ===========================Aside=================================== */
.aside__menu-item {
  border: 1px solid transparent;
  border-radius: 12%;
  height: 7rem;
  margin: 1rem;
  width: 7rem;
  transition: all ease-in-out .2s;
}

.aside__menu-item:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
  ;
}

.frodo {
  background: url(../assets/icons/icon-frodo.svg);
}

.frodo:hover {
  background: url(../assets/icons/icon-frodo-hover.svg);
  transform: scale(1.10);
}

.gandalf {
  background: url(../assets/icons/icon-gandalf.svg);
}

.gandalf:hover {
  background: url(../assets/icons/icon-gandalf-hover.svg);
  transform: scale(1.10);
}

.legolas {
  background: url(../assets/icons/icon-legolas.svg);
}

.legolas:hover {
  background: url(../assets/icons/icon-legolas-hover.svg);
  transform: scale(1.10);
}

.galadriel {
  background: url(../assets/icons/icon-galadriel.svg);
}

.galadriel:hover {
  background: url(../assets/icons/icon-galadriel-hover.svg);
  transform: scale(1.10);
}