/* ===========================General================================= */
/* Custom fonts */
@font-face {
  font-family: MiddleEarth;
  src: url(../assets/fonts/MiddleEarth.ttf);
}

@font-face {
  font-family: SeratUltra;
  src: url(../assets/fonts/SeratUltra.ttf);
}

.visually-hidden {
  display: none;
}

/* Reset CSS */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
cite,
em,
img,
q,
strong,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
article,
aside,
figure,
figcaption,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

a:link {
  color: unset;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Global grid */
.grid-structure {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* ===========================Header================================== */
/* Logo */
.logo__title {
  font-family: MiddleEarth;
  font-size: 2rem;
}

/* Navigation */

/* ===========================Article=================================== */
.character__title {
  font-family: SeratUltra;
  font-size: 2rem;
}

/* ===========================Aside Complementary======================= */
.aside__menu-item {
  border: 1px solid transparent;
  border-radius: 12%;
  height: 7rem;
  margin: 1rem;
  width: 7rem;
  transition: all ease-in-out .2s;
}

.aside__menu-item:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
  ;
}

.frodo {
  background: url(../assets/icons/icon-frodo.svg);
}

.frodo:hover {
  background: url(../assets/icons/icon-frodo-hover.svg);
  transform: scale(1.10);
}

.gandalf {
  background: url(../assets/icons/icon-gandalf.svg);
}

.gandalf:hover {
  background: url(../assets/icons/icon-gandalf-hover.svg);
  transform: scale(1.10);
}

.legolas {
  background: url(../assets/icons/icon-legolas.svg);
}

.legolas:hover {
  background: url(../assets/icons/icon-legolas-hover.svg);
  transform: scale(1.10);
}

.galadriel {
  background: url(../assets/icons/icon-galadriel.svg);
}

.galadriel:hover {
  background: url(../assets/icons/icon-galadriel-hover.svg);
  transform: scale(1.10);
}

/* ===========================Aside Ads================================== */
.ads__item {
  border: 1px solid transparent;
  border-radius: 5%;
  height: 16rem;
  margin: 1rem;
  width: 14rem;
  transition: all ease-in-out .2s;
}

.adv-1 {
  background: url(../assets/img/propaganda-1.jpg);
  background-size: cover;
}

.adv-2 {
  background: url(../assets/img/propaganda-2.jpg);
  background-size: cover;
}