/* ===========================General================================= */
/* Custom fonts */
@font-face {
  font-family: MiddleEarth;
  src: url(../assets/fonts/MiddleEarth.ttf);
}

@font-face {
  font-family: SeratUltra;
  src: url(../assets/fonts/SeratUltra.ttf);
}

.visually-hidden {
  display: none;
}

/* Reset CSS */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
cite,
em,
img,
q,
strong,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
article,
aside,
figure,
figcaption,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

a {
  color: black;
  text-decoration: none;
}

a:link {
  color: unset;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Global grid */
.grid-structure {
  display: grid;
  grid-template-columns: 11rem 3fr 16.1rem;
  grid-template-areas: "header header header"
    "aside content ads"
    "aside content ads"
    "footer footer footer";
}

.content {
  grid-area: content;
}

/* ===========================Header================================== */
/* Header */
.header {
  display: grid;
  grid-area: header;
  grid-template-columns: 22rem auto;
  align-items: center;
  background: linear-gradient(135deg, rgb(250, 216, 27), rgb(255, 226, 59), rgb(255, 227, 69));
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
  padding: 1.875rem;
  z-index: 1;
}

/* Logo */
.logo__title {
  font-family: MiddleEarth;
  font-size: 2rem;
  letter-spacing: -1px;
  text-shadow: 2px 1px 0px #fff, 5px 4px 0px rgba(0, 0, 0, .15);
}

.logo__sub-title {
  font-family: 'Handlee', cursive;
  font-size: 1.115rem;
  text-shadow: 1px 1px 0px rgb(248, 248, 248), 2px 2px 0px rgba(0, 0, 0, .15);
  text-transform: lowercase;
  margin-left: .3rem;
}

/* Navigation */
.nav__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.nav__list-item {
  border-bottom: 5px solid transparent;
  font-family: 'Odibee Sans', cursive;
  font-size: 1.7rem;
  letter-spacing: 1px;
  text-shadow: 1px 1px 0px #fff;
  transition: all ease-in-out .2s;
}

.nav__list-item+.nav__list-item {
  margin-left: 2rem;
}

.nav__list-item:hover {
  border-bottom: 5px solid rgb(248, 248, 248);
  color: rgb(238, 230, 230);
  text-shadow: 1px 1px 0px #fff, 3px 3px 0px rgba(0, 0, 0, .1);
  transform: scale(1.05);
}


/* ===========================Article=================================== */
.character__title {
  font-family: SeratUltra;
  font-size: 2rem;
}

.char-img {
  max-width: 100%;
}

/* ===========================Aside Complementary======================= */
.aside {
  grid-area: aside;
  justify-self: center;
  background: #fafbfc;
  padding-top: 3rem;
}

.aside__menu-item {
  background: #fff;
  border: 1px solid transparent;
  border-radius: 12%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
  height: 7rem;
  margin: 0 1rem 2rem 1rem;
  transition: all ease-in-out .2s;
  width: 9rem;
}

.frodo {
  background: white url(../assets/icons/icon-frodo.svg) no-repeat center;
}

.frodo:hover {
  background: url(../assets/icons/icon-frodo-hover.svg) no-repeat center;
  transform: scale(1.10);
}

.gandalf {
  background: white url(../assets/icons/icon-gandalf.svg) no-repeat center;
}

.gandalf:hover {
  background: url(../assets/icons/icon-gandalf-hover.svg) no-repeat center;
  transform: scale(1.10);
}

.legolas {
  background: white url(../assets/icons/icon-legolas.svg) no-repeat center;
}

.legolas:hover {
  background: url(../assets/icons/icon-legolas-hover.svg) no-repeat center;
  transform: scale(1.10);
}

.galadriel {
  background: white url(../assets/icons/icon-galadriel.svg) no-repeat center;
}

.galadriel:hover {
  background: url(../assets/icons/icon-galadriel-hover.svg) no-repeat center;
  transform: scale(1.10);
}

/* ===========================Aside Ads================================== */
.ads {
  display: grid;
  grid-area: ads;
  align-content: start;
  justify-self: center;
  gap: 3rem;
  background: #fafbfc;
  padding-top: 3rem;
}

.ads__item {
  border: 1px solid transparent;
  border-radius: 5%;
  height: 16rem;
  margin: 0 1rem;
  width: 14rem;
  opacity: .8;
  transition: all ease-in-out .2s;
}

.ads__item:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
  opacity: 1;
}

.adv-1 {
  background: url(../assets/img/propaganda-1.jpg);
  background-size: cover;
}

.adv-2 {
  background: url(../assets/img/propaganda-2.jpg);
  background-size: cover;
}

/* ===========================Footer===================================== */
.footer {
  display: grid;
  background: linear-gradient(135deg, rgb(245, 211, 16), rgb(248, 217, 41), rgb(255, 227, 69));
  grid-area: footer;
  grid-template-rows: auto auto;
  justify-content: center;
}

.footer__social {
  display: flex;
  font-size: 2rem;
  justify-content: space-around;
  margin: 1rem 0 1rem;
  width: 23rem;
}

.footer__social a {
  text-shadow: 2px 1px #fff;
}

.footer__social a:hover {
  color: #fff;
  text-shadow: 3px 2px 2px #000, 4px 3px 0px rgba(70, 70, 70, 0.1);
}

.copyright {
  text-shadow: 1px 1px 0px rgb(248, 248, 248), 2px 2px 0px rgba(0, 0, 0, .15);
}