.ads {
  display: grid;
  grid-area: ads;
  align-content: start;
  justify-self: center;
  gap: 3rem;
  background: var(--background-color);
  padding-top: 1rem;
  .ads__item {
    border: 1px solid transparent;
    border-radius: 5%;
    height: 16rem;
    margin: 0 1rem;
    width: 14rem;
    opacity: 0.8;
    transition: all ease-in-out 0.2s;
    &:hover {
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
      opacity: 1;
    }
  }

  .adv-1 {
    background: url(../../assets/img/propaganda-1.jpg);
    background-size: cover;
  }

  .adv-2 {
    background: url(../../assets/img/propaganda-2.jpg);
    background-size: cover;
  }
}
