/* Header */
.header {
  display: grid;
  grid-area: header;
  grid-template-columns: 22rem auto;
  align-items: center;
  background: var(--linear-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 1.875rem;
  z-index: 1;
  .logo__title {
    font-family: MiddleEarth;
    font-size: 2rem;
    letter-spacing: -1px;
    text-shadow: 2px 1px 0px #fff, 5px 4px 0px rgba(0, 0, 0, 0.15);
  }
  .logo__sub-title {
    font-family: "Handlee", cursive;
    font-size: 1.115rem;
    text-shadow: 1px 1px 0px rgb(248, 248, 248), 2px 2px 0px rgba(0, 0, 0, 0.15);
    text-transform: lowercase;
    margin-left: 0.3rem;
  }
  .nav__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    .nav__list-item {
      background: var(--secondary-color);
      border-radius: 10px;
      font-family: "Titillium Web", sans-serif;
      font-size: 1.7rem;
      font-weight: 300;
      letter-spacing: 1px;
      transition: all ease-in-out 0.2s;
      padding: 0.8rem;
      & + .nav__list-item {
        margin-left: 2rem;
      }
      &:hover {
        background: var(--third-color);
        box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.1);
        transform: scale(1.03);
      }
    }
  }
}
