@media (max-width: 768px) {
  .fs-menu__container {
    flex-direction: column;
  }

  .fs-menu__title {
    font-size: 1rem;
  }

  .grid-structure {
    grid-template-columns: auto;
    grid-template-areas:
      "header"
      "aside"
      "content"
      "ads"
      "footer" !important;
  }

  .header,
  .content {
    grid-template-columns: auto;
  }

  .logo__sub-title {
    margin-bottom: 1rem;
  }

  .aside,
  .ads {
    overflow-x: auto;
    padding: 0;
    position: relative;
    width: 100vw;
  }

  .aside-menu,
  .ads {
    display: flex;
  }

  .aside__menu-item {
    flex: 1 0 3.75rem;
  }

  .aside::after,
  .ads::after {
    animation: hand-scrolling 3s ease-in-out infinite alternate;
    content: url(../assets/icons/scroll.png);
    position: absolute;
    opacity: 0.4;
    top: 5px;
    right: 2rem;
  }

  .ads {
    margin-bottom: 2rem;
  }
}

@media (max-width: 1200px) {
  .grid-structure {
    grid-template-areas:
      "header header header"
      "aside content content"
      "aside ads ads"
      "footer footer footer";
  }

  .ads {
    margin-bottom: 2rem;
  }
}

@keyframes hand-scrolling {
  from {
    transform: translateX(-2rem);
  }

  to {
    transform: translateX(2rem);
  }
}
